<div class="message message--formatted message--failed center">
  <div class="message__body">
    <div class="message__body-content txt-align-center">
      <%= t(".failure") %>
    </div>
  </div>
</div>
